.tokens-grid {
    width: 100%;
    font-family: sans-serif;
    color: #fff;
    border-collapse: collapse;
}

.tokens-grid thead th {
    padding: 0.75rem 1rem;
    color: #ccc;
}

.tokens-grid tbody td {
    padding: 0.75rem 1rem;
    color: #ccc;
}

.tokens-grid tbody td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tokens-grid tbody td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tokens-grid tbody tr:nth-child(even) td {
    //O :nth-child(even) seleciona todos os elementos pares dentro de um pai. O termo "even" significa "par" em inglês, então ele estiliza os elementos cujos índices (começando em 1) são 2, 4, 6, 8, etc.
    background:#444
}